
<div class="title-content" style="color: #eee;">
    <i style="margin-right: 5px" class="fas fa-plus-square"></i>
    Chỉnh sửa địa điểm du lịch mới
</div>
<div class="content">
    <div class="row">
        <div class = "col-5">
            <form method="POST"  enctype="multipart/form-data">
                <!-- <table style="width:100%">
                    <tr>
                        <td>
                            <i class="fas fa-plus-square"></i>
                            <span style="font-weight: 600;">Nội dung bài viết</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="post" id="cmt"><?php echo $getData['content']?></textarea>
                            <script> CKEDITOR.replace('cmt');</script>
                        </td>
                    </tr>
                </table> -->
        </div>
        <div class = "col-12">
            <table style="width:100%">
                <tr>
                    <td>
                        <i class='fas fa-plus-square'></i>
                        <span style="font-weight: 600;">Các thành phần</span>
                    </td>
                </tr>
                <tr>
                    <td style="background: #f2f2f2;">
                        <table style="border: none; width: 100%">
                            <tr style="border: none; width: 100%; ">
                                <td style="border: none; width: 50%; padding: 15px;">
                                    <label style="color: #000; font-weight: 500;" for="">Tiêu đề bài viết</label>
                                    <input type="text" value="<?php echo $getData['name']?>" style=" width: 70%" class="form-control"  id="password" required="" placeholder="enter post title" name="title">
                                    <br>
                                    <div class="form-group">
                                        <label style="color: #000; font-weight: 500;" for="">Ảnh Carousel</label><br>
                                        <img id="blah" src="" alt="Ảnh đại diện" style="height: 140px; width: 200px;" /><br><br>
                                        <input type='file' style="font-size: 12px;" name="imgInp" id="imgInp" value="<?php echo $getData['img']?>" />
                                    </div>
                                </td>
                                <td style="border: none; width: 50%; padding: 15px;">

                                    <div class="form-group">
                                        <label style="color: #000; font-weight: 500;"  for="">Địa chỉ</label><br>
                                        <input  type="text" value="<?php echo $getData['Address']?>" placeholder="" name="Address" id="Address">
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #000; font-weight: 500;" for="">Giá</label><br>
                                        <input type="text" value="<?php echo $getData['price']?>" name="price" id="price">
                                    </div>
                                    <div class="form-group">
                                        <label style="color: #000; font-weight: 500;" for="">Liên hệ</label><br>
                                        <input type="text" value="<?php echo $getData['contact']?>" name="contact" id="contact">
                                    </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br><br>
                        <div style="width:100%; text-align:center" >
                            <button class="btn btn-danger">Chỉnh sửa</button></div> <br>
                    </td>
                </tr>

            </table>
            </form>
        </div>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });

</script>

